[submodule "Basic-Linux"]
	path = Basic-Linux
	url = git@github.com:Honaco/Basic-Linux.git
[submodule "Linux-Network"]
	path = Linux-Network
	url = git@github.com:Honaco/Linux-Network.git
[submodule "LinuxMonitoring-v1.0"]
	path = LinuxMonitoring-v1.0
	url = git@github.com:Honaco/LinuxMonitoring-v1.0.git
[submodule "LinuxMonitoring-v2.0"]
	path = LinuxMonitoring-v2.0
	url = git@github.com:Honaco/LinuxMonitoring-v2.0.git
